* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  section.rockets {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    ul.rockets-list {
      width: 90%;
      border-top: 1px solid rgba($color: #000, $alpha: 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3vh;
      padding-top: 2vh;

      div.rocket-box {
        width: 95%;
        display: flex;
        gap: 1.5%;

        div.image-box {
          width: 20%;

          img {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }

        div.rocket-details-box {
          width: 78.5%;
          display: flex;
          flex-direction: column;
          gap: 1vh;

          span.reserved-badge {
            background-color: #18a2b8;
            color: #fff;
            width: 15%;
            border-radius: 4px;
            margin-right: 2%;
          }

          button {
            width: 140px !important;
            height: 4vh;
            border-radius: 3px;
            border: none;
          }

          button.reservation-btn {
            background-color: #007bff;
            color: white;
          }

          button.cancel-reservation-btn {
            background-color: white;
            color: gray;
            box-shadow: 1px 1px 1px gray;
            border: 1px solid gray;
          }
        }
      }
    }
  }
}
